<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <form method="post" th:action="@{/orders}" th:object="${order}">
        <h1>Order your taco creations!</h1>

        <img th:src="@{/images/TacoCloud.png}"/>
        <a th:href = "@{/design}" id ="anthor">Design another taco</a> <br/>

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Please correct the problems below and resubmit.
            </span>
        </div>
        <h3>Deliver my taco masterpieces to...</h3>
        <label for="name">Name: </label>
        <input type="text" th:field="*{delivery_Name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('delivery_Name')}"
              th:errors="*{delivery_Name}"> street Error</span>
        <br/>

        <label for="street">Street address: </label>
        <input type="text" th:field="*{delivery_Street}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('delivery_Street')}"
              th:errors="*{delivery_Street}"> street Error</span>
        <br/>
        <label for="city">City: </label>
        <input type="text" th:field="*{delivery_City}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('delivery_City')}"
              th:errors="*{delivery_City}"> city Error</span>
        <br/>
        <label for="State">State: </label>
        <input type="text" th:field="*{delivery_State}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('delivery_State')}"
              th:errors="*{delivery_State}"> state Error</span>
        <br/>
        <label for="Zip">Zip code: </label>
        <input type="text" th:field="*{delivery_Zip}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('delivery_Zip')}"
              th:errors="*{delivery_Zip}"> zip Error</span>
        <br/>
        <h3>Here's how I'll pay...</h3>
        <label for="ccNumber">Credit Card #: </label>
        <input type="text" th:field="*{cc_Number}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('cc_Number')}"
              th:errors="*{cc_Number}"> CC Num Error</span>
        <br/>
        <label for="ccExpiration">Expiration: </label>
        <input type="text" th:field="*{cc_Expiration}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('cc_Expiration')}"
              th:errors="*{cc_Expiration}"> ccExpiration Error</span>
        <br/>
        <label for="ccCVV">CVV: </label>
        <input type="text" th:field="*{cc_CVV}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('cc_CVV')}"
              th:errors="*{cc_CVV}"> ccCVV Error</span>
        <br/>
        <input type="submit" value="Submit order"/>
    </form>
</body>
</html>